# Create a MySQL database with 2 clicks (no account needed): https://railway.app/
DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb?connection_limit=1"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=